<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnosity SDK - NodeJS</title>
    <script src="//items.learnosity.com/?v2023.1.LTS"></script>
</head>

<body>
    <div id="learnosity_assess"></div>
    <script>
        const request = <%- JSON.stringify(request) %>;
        console.log(request);


        const itemsApp = LearnosityItems.init(request, {
            readyListener() {
                console.log('ready');
                const questions = itemsApp.questions();

                Object.values(questions).forEach((question) => {
                    // Disable the question when it is validated
                    question.on("validated", function(){
                        question.disable();
                        const responseObject = question.getResponse();
                        console.log(responseObject);
                        itemsApp.save(saveSettings);
                    })

                    // Check if the question has been answered
                    const responseObject = question.getResponse();
                    if (responseObject == null) {
                        return;
                    }
                    if (responseObject['feedbackAttemptsCount'] > 0) {
                        question.disable();
                    }
                });
            },
            errorListener(err) {
                console.log('error', err);
            }
        })

        // Save progress functions
        const saveSettings = {
            success: function (response_ids) {
                // Receives a list of the saved session responses as [response_id]
                console.log("save has been successful", response_ids);
            },
            error: function (e) {
                // Receives the event object defined in the Event section
                console.log("save has failed", e);
            },
            progress: function (e) {
                // Client custom progress event handler
                // e: uses the progress object defined bellow
                // See the Progress Event section for more information on this
                console.log("progress", e);
            }
        };

        const saveAssessmentProgress = async () => {
            itemsApp.save(saveSettings);
        }

        const closeAssessment = async () => {
            itemsApp.save({
                success: function (response_ids) {
                    console.log("save has been successful", response_ids);
                    postMessageToApp("closeAssessment");
                },
                error: function (e) {
                    console.log("save has failed", e);
                },
                progress: function (e) {
                    console.log("progress", e);
                }
            });
        }

        // Register events callback --------------------------------------------

        const postMessageToApp = (message) => {
            window.parent.postMessage(message, '*');

            if (window.ManabieChannel != undefined) {
                window.ManabieChannel.postMessage(message);
            }
        }


        const submitEvent = "test:submit:success";
        itemsApp.on(submitEvent, function (itemIndex) {
            postMessageToApp(submitEvent);
        });

        const gotToEvent = 'item:goto';
        itemsApp.on(gotToEvent, function (itemIndex) {
            postMessageToApp(gotToEvent);
        });

        // Register post message
        window.parent.addEventListener("message", async (message) => {
            console.log(message.data);
            switch (message.data) {
                case 'saveAssessmentProgress':
                    await saveAssessmentProgress();
                    break;
                case 'closeAssessment':
                    await closeAssessment();
                    break;
            
                default:
                    break;
            }
        });

    </script>
</body>

</html>